.progressbar-title {
    color: $white;
    font-size: 28px;
}


.years {
    font-size: .65rem;
    display: flex;
    justify-content: space-between;
    color: $white;

    span {
      width: 36%;
      color: $color-2;
      font-size: 13px;

      &:nth-child(2){
        text-align: center; 
        width: 20%;
      }
      &:nth-child(3){
        text-align: right;
        width: 44%;
      }
    
      &:nth-child(2):before,
      &:nth-child(3):before {
        content:'';
        background: rgba(180, 179, 179, 0.507);
        position: absolute;
        height: 146px;
        width: 1px;
        transform: translate(9px, 19px);
      }
    }
}

.languagesList {
    padding-top: .5rem;

    li {
      color: $color-2;
    }
    .progressBar {
      height: .4rem;
      background: transparent;
      border-radius: 50px;
      margin-top: 0.2rem;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        background: $color-2;
        border-radius: 50px;
        height: .4rem;
        width: 0;
        animation: line 2s ease-out forwards;

        @keyframes line {
          to {
            width: 100%;
          }
        }
      }
    }
}

