.header{
    border-bottom: 1px solid $color-1;
    position: fixed;
    z-index: 3;
    width: 100%;
    min-height: 96px;
    padding: 1rem;
    background-color: white;
}

.main{
    width: 90%;
    margin: auto;
    //min-height: 200vh;
    padding: 12rem 1rem 5rem;
}

.about{
    display: flex;
    padding-left: 10rem;
}

.img {
    width: 40rem;
    height: 20rem;
    border-radius: 50%;
}

.exp-1{
    padding-left: 8rem;
}

.about-text{
    color: $color-5;
    width: 94%;
    overflow-wrap: break-word;
    padding-top: 2rem;

}

.about-text-2{
    color: $color-5;
    width: 72%;
    overflow-wrap: break-word;
    padding: 8px 0 8px 0;

}

@media screen and (max-width: 768px) {
    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .img {
        width: 15rem;
        height: 15rem;
    }
}

@media screen and (max-width: 580px) {
    .exp-1{
        padding-left: 0;
    }

    .about-text{
        width: 100%;
    }

    .about-text-2{
        width: 100%;
    }
}