.notFound404 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    color: #468cff;
    padding: 35vh 0 0 0;
    p, Link {
        flex-basis: 100%;
        text-align: center;
    }
    p:first-child{
         font-size: 10em;
         margin-bottom: 0;
         font-weight: bold;
    }
    p:nth-child(2){
        font-size: 2em;
    }
    a {
        color: #2d6eac;
        font-weight: bold;
    }
}