@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap');

$font-1: 'Yeseva One';
$font-2: 'Montserrat', sans-serif;

$color-1: #C5D3D6;
$color-2: #7c8587;
$color-3: #2f3854;
$color-4: #545e7a;
$color-5: #7C8587;
$color-6: #6b6b6b;
$color-7: #468cff;
$white: rgb(255, 253, 253);
$black: #333;

$radius: 60px;
$shadow: 0 1px 3px #333;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    
}

body {
    margin: 0;
    font-family: $font-2;
}

h2{
    font-family: $font-1;
    color: $color-6;
    font-size: 74px;
    font-weight: normal;
}

h3{
    font-family: $font-1;
    color: $color-6;
    font-size: 50px;
    font-weight: normal;
    padding: 30px 0 15px 0;
}

h4 {
    color: $color-6;
}
  
button {
    cursor: pointer;
}
  
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $color-6;
    cursor: pointer;
}

a:visited {
    color:$color-6;
}

a.nav-tive{
    color: $color-7;
}

@media screen and (max-width: 580px) {
    h2{
        font-size: 66px;
    }

    h3{
        font-size: 44px;
    }
}

@media screen and (max-width: 320px) {
    h2{
        font-size: 56px;
    }

    h3{
        font-size: 38px;
    }
}

